.ticketPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
}

.ticketPopup h2 {
    margin-top: 0;
}

.ticketPopup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.ticketPopup li {
    margin-bottom: 10px;
}

.ticketPopup button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.bundleForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
}

.bundleForm input {
    margin-right: 10px;
    padding: 5px;
}

.bundleForm button {
    padding: 5px 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}